{
  "name": "project",
  "private": true,
  "description": "",
  "scripts": {
    "lint": "eslint . --config ./.eslintrc.cjs --ext .js,.ts,.tsx",
    "typechecks": "tsc --noEmit"
  },
  "type": "module",
  "keywords": [],
  "author": "",
  "prettier": "./prettier.config.js",
  "devDependencies": {
    "@egoist/tailwindcss-icons": "^1.7.4",
    "@iconify/json": "^2.2.186",
    "@types/node": "^20.11.20",
    "@typescript-eslint/eslint-plugin": "^6.21.0",
    "@typescript-eslint/parser": "^6.21.0",
    "autoprefixer": "^10.4.17",
    "eslint": "^8.57.0",
    "eslint-config-prettier": "^9.1.0",
    "htmx.org": "^1.9.10",
    "postcss": "^8.4.35",
    "postcss-cli": "^10.1.0",
    "postcss-import": "^15.1.0",
    "prettier": "^3.2.5",
    "tailwindcss": "^3.4.1",
    "typescript": "^5.3.3",
    "vite": "^4.5.2",
    "vite-plugin-full-reload": "^1.1.0"
  }
}
