{
  esbuild,
  buildGoModule,
  fetchFromGitHub,
  lib,
  ...
}: let
  customEsbuild = esbuild.override {
    buildGoModule = args:
      buildGoModule (args
        // rec {
          version = "0.21.5";
          src = fetchFromGitHub {
            owner = "evanw";
            repo = "esbuild";
            rev = "v${version}";
            hash = "sha256-FpvXWIlt67G8w3pBKZo/mcp57LunxDmRUaCU/Ne89B8=";
          };
          vendorHash = "sha256-+BfxCyg0KkDQpHt/wycy/8CTG6YBA/VJvJFhhzUnSiQ=";
        });
  };
in {
  package = customEsbuild;
  path = lib.getExe customEsbuild;
}
