{
  inputs = {
    # Nixpkgs
    nixpkgs.url = "github:nixos/nixpkgs/nixos-unstable";

    flake-utils.url = "github:numtide/flake-utils";

    templ.url = "github:a-h/templ?ref={{ .TmplVersion }}";

    gitignore = {
      url = "github:hercules-ci/gitignore.nix";
      inputs.nixpkgs.follows = "nixpkgs";
    };
  };

  outputs = inputs @ {
    nixpkgs,
    gitignore,
    flake-utils,
    ...
  }:
    flake-utils.lib.eachDefaultSystem (system: let
      pkgs = import nixpkgs {
        inherit system;
      };
      templ = inputs.templ.packages.${system}.templ;

      esbuild = (import ./nix/helpers/esbuild) pkgs;
    in {
      packages = {
        default = pkgs.buildGo123Module rec {
          pname = "my-package";
          version = "1.0.0";
          src = gitignore.lib.gitignoreSource ./.;
          subPackages = ["cmd/server"];
          vendorHash = "";
          CGO_ENABLED = 1;

          buildInputs = with pkgs; [
            pkg-config
          ];

          nativeBuildInputs = [
            templ
            pkgs.nodejs
            pkgs.nodePackages.pnpm
            pkgs.nodePackages.pnpm.configHook
          ];

          pnpmDeps = pkgs.nodePackages.pnpm.fetchDeps {
            inherit src;
            pname = "pnpm";
            hash = "";
          };

          overrideModAttrs = oldAttrs: {
            inherit pnpmDeps;
          };

          flags = [
            "-trimpath"
          ];
          ldflags = [
            "-s"
            "-w"
          ];

          ESBUILD_BINARY_PATH = "${esbuild.path}";

          preBuild = ''
            touch .env
            mkdir -p public

            export ESBUILD_BINARY_PATH="${esbuild.path}"

            make build-server-prepare
          '';

          postInstall = ''
            cp -r build/* $out/bin/.
          '';
        };
      };

      devShell = pkgs.mkShell {
        GOROOT = "${pkgs.go_1_23}/share/go";

        buildInputs = with pkgs; [
          (golangci-lint.override {buildGo123Module = buildGo123Module;})
          go_1_23
          air
          templ
          (go-migrate.overrideAttrs (finalAttrs: previousAttrs: {
            tags = ["sqlite3" "sqlite" "postgres" "pgx"];
          }))
        ];
      };
    });
}
