package main

import (
	"net/http"
	"os"

	"{{.ProjectName}}/internal"
	"{{.ProjectName}}/internal/logger"
	"{{.ProjectName}}/internal/middlewares"
	"{{.ProjectName}}/internal/routes"

	"github.com/joho/godotenv"
)

func main() {
	err := godotenv.Load()

	if err == nil {
		logger.MainLogger.Info("Loading .env file")
	}

  container := internal.NewContainer()

	router := routes.MainRouter(container)

	port := os.Getenv("PORT")

	if port == "" {
		port = "3000"
	}

	logger.MainLogger.Infof("🌍 WebServer is running at http://127.0.0.1:%s", port)

	middlewares.ViteReload()

	err = http.ListenAndServe(":"+port, router)

	if err != nil {
		logger.MainLogger.Fatalf("Failed to start HTTP server on port %s : %v", port, err)
	}
}
